section{ padding: 20px;
	background-color: rgba(0,0,0,0.29);
}
section ul{ text-align: center; }
section ul li{ display: inline-block;
	vertical-align: top;
	width: 200px;
	height: 250px;
	background-color: #fff;
	box-shadow: 0 1px 5px rgba(0,0,0,0.25), 0 0 50px rgba(0,0,0,0.1) inset;
	border-radius: 2%     0%     0%     0% /     20%     0%     0%     0%;
	margin: 20px;
}
section ul li:first-child{ border-radius: 10px;
	border: 2px dashed rgba(0,0,0,0.49);
	background-color: rgba(0,0,0,0);
}